{%- macro page(text, page, class = "") -%}
<span class="link {{ class }}"><a href="{{ page.generateUrl() }}">{{ text }}</a></span>
{%- endmacro -%}

{% import _self as m %}

{% if paginator|length > 1 %}
<div class="pagination long">
    {%- if paginator.hasPreviousPage() -%}
        {{ m.page('Previous'|trans, paginator.getPreviousPage() ) }}
    {%- endif -%}
    {% for i in range(10, 1) %}
        {%- if paginator.hasPage(current - i) -%}
        {{ m.page(current - i, paginator.getPage(current - i) ) }}
        {%- endif -%}
    {%- endfor -%}
    <span class="current link">{{ current }}</span>
    {% for i in range(1,10) %}
        {%- if paginator.hasPage(current + i) -%}
        {{ m.page(current + i, paginator.getPage(current + i) ) }}
        {%- endif -%}
    {%- endfor -%}
    {%- if paginator.hasNextPage() -%}
        {{ m.page('Next'|trans, paginator.getNextPage() ) }}
    {%- endif -%}
</div>
{% endif %}
