.pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    
    .link {
        background-color: white;
        display: inline-block;
    }
    
    .link:nth-of-type(1n+2) {
        border-left: 1px solid $chill-light-gray;
    }
    
    .link.current {
        font-weight: bold;
        color: white;
        background-color: #334d5c;
        padding: 0.4em 0.8em;
    }
    
    .link a {
        display: block;
        padding: 0.4em 0.8em;
    }
    .link a:hover {
        color: white;
        font-weight: bold;
        background-color: $chill-green;
    }
}
