@charset "UTF-8";
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }
.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.chill-blue {
  color: #334d5c; }

.chill-green {
  color: #43b29d; }

.chill-green-dark {
  color: #328474; }

.chill-yellow {
  color: #eec84a; }

.chill-orange {
  color: #e2793d; }

.chill-red {
  color: #df4949; }

.chill-gray {
  color: #ececec; }

.chill-beige {
  color: #cabb9f; }

.chill-pink {
  color: #dd506d; }

.chill-dark-gray {
  color: #333333; }

.chill-light-gray {
  color: #b2b2b2; }

/*
// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;
*/
/* etrange pour les forms */
* {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

.container:after {
  content: "";
  display: table;
  clear: both;
  border-spacing: 0; }

.parent:before, .parent-mobile:before, .parent-tablet:before, .parent:after, .parent-mobile:after, .parent-tablet:after {
  content: "";
  display: table;
  border-spacing: 0; }
.parent:after, .parent-mobile:after, .parent-tablet:after {
  clear: both; }
.parent, .parent-mobile, .parent-tablet {
  zoom: 1; }

.push-0, .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-mobile-0, .push-mobile-1, .push-mobile-2, .push-mobile-3, .push-mobile-4, .push-mobile-5, .push-mobile-6, .push-mobile-7, .push-mobile-8, .push-mobile-9, .push-mobile-10, .push-mobile-11, .push-mobile-12, .push-tablet-0, .push-tablet-1, .push-tablet-2, .push-tablet-3, .push-tablet-4, .push-tablet-5, .push-tablet-6, .push-tablet-7, .push-tablet-8, .push-tablet-9, .push-tablet-10, .push-tablet-11, .push-tablet-12, .pull-0, .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-mobile-0, .pull-mobile-1, .pull-mobile-2, .pull-mobile-3, .pull-mobile-4, .pull-mobile-5, .pull-mobile-6, .pull-mobile-7, .pull-mobile-8, .pull-mobile-9, .pull-mobile-10, .pull-mobile-11, .pull-mobile-12, .pull-tablet-0, .pull-tablet-1, .pull-tablet-2, .pull-tablet-3, .pull-tablet-4, .pull-tablet-5, .pull-tablet-6, .pull-tablet-7, .pull-tablet-8, .pull-tablet-9, .pull-tablet-10, .pull-tablet-11, .pull-tablet-12 {
  position: relative; }

.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.parent, .parent-mobile, .parent-tablet {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.grid-0, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-mobile-0, .grid-mobile-1, .grid-mobile-2, .grid-mobile-3, .grid-mobile-4, .grid-mobile-5, .grid-mobile-6, .grid-mobile-7, .grid-mobile-8, .grid-mobile-9, .grid-mobile-10, .grid-mobile-11, .grid-mobile-12, .grid-tablet-0, .grid-tablet-1, .grid-tablet-2, .grid-tablet-3, .grid-tablet-4, .grid-tablet-5, .grid-tablet-6, .grid-tablet-7, .grid-tablet-8, .grid-tablet-9, .grid-tablet-10, .grid-tablet-11, .grid-tablet-12, .footer .footer-links, .footer ul {
  display: inline-block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Str replace
 *
 * @param {string}  $string    String that you want to replace
 * @param {string}  $substr    String that is to be replaced by `$newsubstr`
 * @param {string}  $newsubstr String that replaces `$substr`
 * @param {number*} $all       Flag for replaceing all (1+) or not (0)
 * @return {string}
 */
/**
 * Map set
 *
 * @param 	Map 	$map 		The map to use
 * @param 	String 	$key 		The key to update
 * @param 	Mixed 	$value 		The new value
 * @return 	Map 			The new map
 */
/**
 * Get the column width in percent for the global or a specific context
 *
 * @param 	int 		$columns 					The number of columns to calculate
 * @param 	int 		$context : $gridle-columns-count 	 	The context to use
 * @return 	percentage 							The width in percent
 */
/**
 *  Get a state map
 *
 * @param 	string 		$name 		The name of the state to get
 * @return 	map 				A state map object
 */
/**
 * Check if a state exist :
 *
 * @param 	string 		$name 		The name of the state to check
 * @return 	Boolean 			true is exist
 */
/**
 * Get the media queries variables :
 *
 * @param 	int 		$index 	 	The media query indes
 * @param 	String 		$var 		The media query variable name
 * @return 	String|int 			The variable value
 */
/**
 * Get a variable
 *
 * @param 	String 		$varName 				The variable name
 * @param  	String 		$stateMap-or-stateName 	 	The state name or a map state value
 * @return 	Mixed 							The finded value
 */
/**
 * Set a variable in a state
 * @param 	Mixed $stateName-or-stateIndex 	The state name of state index
 * @param  	String $var                    		Variable name to assign
 * @param  	Mixed $newValue          		The new value to assign
 * @return 	List                         			The states list (full)
 */
/**
 * Generate a column
 *
 * @param 	String 		$name 			The column name (often count)
 * @param 	int 		$columns 		The column count that the column will take
 * @param 	int 		$context 		The context on witch the with will be calculed
 * @param 	Boolean 	$generateClasses 	Set if the column has to be generated in css
 */
/**
 * Generate classname
 *
 * @param 	List 		$parrern 	The pattern to use to generate classname
 * @param 	String 		$state 		The state
 * @param 	int 		$count 		The column count
 */
/**
 * Get the media query for a particular state, or with, etc...
 *
 * @param 	Mixed 		$state-or-min-width 		The state name of the min with
 * @param 	Mixed 		$max-width 			The max width if first param is a min width
 * @return 	String 						The media query string without the @media
 */
/**
 * Get states count
 * 
 * @return 	int 	The number of states defined
 */
/**
 * Setup
 */
/**
 *  Register a clear each class
 */
/**
 * Register a special class
 */
/**
 * Register default states
 */
/**
 * Register default mobile first states :
 */
/**
 * Set the debug device (not used for now)
 * 
 * @param 	String 		$state 		The state to update
 * @para m 	String 		$device 	The device to use (iphone, etc...)
 */
/**
 * Parent clear each
 */
/**
 * Vertical align :
 */
/**
 * Show inline
 *
 * @param 	String 		$state 		The state name
 */
/**
 * Generate a custom class for all the states
 *
 * @param 	list 	$pattern 		The name pattern of the class
 * @param 	list 	$statesNames 		The states names to generate
 */
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: device-width; } }
#gridle-settings {
  content: '{ "version" : "1.3.40", "states" : { "retina":{ "query" : "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)", "classes" : false, "name" : "retina", "_gridle" : true }, "tv":{ "query" : "only tv", "classes" : false, "name" : "tv", "_gridle" : true }, "print":{ "query" : "only print", "classes" : false, "name" : "print", "_gridle" : true }, "portrait":{ "query" : "only screen and (orientation: portrait)", "classes" : false, "name" : "portrait", "_gridle" : true }, "landscape":{ "query" : "only screen and (orientation: landscape)", "classes" : false, "name" : "landscape", "_gridle" : true }, "default":{ "name" : "default", "min-width" : null, "max-width" : null, "query" : null, "classes" : true, "context" : "12", "gutter-width" : "20px", "direction" : "ltr", "name-multiplicator" : "1", "debug" : false, "debug-show-class-names" : true, "ie7-support" : false, "html-states-classes" : false, "generate-push-classes" : true, "generate-pull-classes" : true, "generate-prefix-classes" : true, "generate-suffix-classes" : true, "generate-helpers-classes" : true, "_gridle" : true }, "mobile":{ "name" : "mobile", "min-width" : null, "max-width" : "400px", "query" : "screen and (max-width: 400px)", "classes" : true, "context" : "12", "gutter-width" : "20px", "direction" : "ltr", "name-multiplicator" : "1", "debug" : false, "debug-show-class-names" : true, "ie7-support" : false, "html-states-classes" : false, "generate-push-classes" : true, "generate-pull-classes" : true, "generate-prefix-classes" : true, "generate-suffix-classes" : true, "generate-helpers-classes" : true, "_gridle" : true }, "tablet":{ "name" : "tablet", "min-width" : "401px", "max-width" : "767px", "query" : "screen and (min-width: 401px) and (max-width: 767px)", "classes" : true, "context" : "12", "gutter-width" : "20px", "direction" : "ltr", "name-multiplicator" : "1", "debug" : false, "debug-show-class-names" : true, "ie7-support" : false, "html-states-classes" : false, "generate-push-classes" : true, "generate-pull-classes" : true, "generate-prefix-classes" : true, "generate-suffix-classes" : true, "generate-helpers-classes" : true, "_gridle" : true }} }'; }

.grid-0, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-mobile-0, .grid-mobile-1, .grid-mobile-2, .grid-mobile-3, .grid-mobile-4, .grid-mobile-5, .grid-mobile-6, .grid-mobile-7, .grid-mobile-8, .grid-mobile-9, .grid-mobile-10, .grid-mobile-11, .grid-mobile-12, .grid-tablet-0, .grid-tablet-1, .grid-tablet-2, .grid-tablet-3, .grid-tablet-4, .grid-tablet-5, .grid-tablet-6, .grid-tablet-7, .grid-tablet-8, .grid-tablet-9, .grid-tablet-10, .grid-tablet-11, .grid-tablet-12 {
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px; }

.grid-0 {
  width: 0%; }

.push-0 {
  left: 0%; }

.pull-0 {
  right: 0%; }

.prefix-0 {
  margin-left: 0%; }

.suffix-0 {
  margin-right: 0%; }

.grid-1 {
  width: 8.33333%; }

.push-1 {
  left: 8.33333%; }

.pull-1 {
  right: 8.33333%; }

.prefix-1 {
  margin-left: 8.33333%; }

.suffix-1 {
  margin-right: 8.33333%; }

.grid-2 {
  width: 16.66667%; }

.push-2 {
  left: 16.66667%; }

.pull-2 {
  right: 16.66667%; }

.prefix-2 {
  margin-left: 16.66667%; }

.suffix-2 {
  margin-right: 16.66667%; }

.grid-3 {
  width: 25%; }

.push-3 {
  left: 25%; }

.pull-3 {
  right: 25%; }

.prefix-3 {
  margin-left: 25%; }

.suffix-3 {
  margin-right: 25%; }

.grid-4 {
  width: 33.33333%; }

.push-4 {
  left: 33.33333%; }

.pull-4 {
  right: 33.33333%; }

.prefix-4 {
  margin-left: 33.33333%; }

.suffix-4 {
  margin-right: 33.33333%; }

.grid-5 {
  width: 41.66667%; }

.push-5 {
  left: 41.66667%; }

.pull-5 {
  right: 41.66667%; }

.prefix-5 {
  margin-left: 41.66667%; }

.suffix-5 {
  margin-right: 41.66667%; }

.grid-6 {
  width: 50%; }

.push-6 {
  left: 50%; }

.pull-6 {
  right: 50%; }

.prefix-6 {
  margin-left: 50%; }

.suffix-6 {
  margin-right: 50%; }

.grid-7 {
  width: 58.33333%; }

.push-7 {
  left: 58.33333%; }

.pull-7 {
  right: 58.33333%; }

.prefix-7 {
  margin-left: 58.33333%; }

.suffix-7 {
  margin-right: 58.33333%; }

.grid-8 {
  width: 66.66667%; }

.push-8 {
  left: 66.66667%; }

.pull-8 {
  right: 66.66667%; }

.prefix-8 {
  margin-left: 66.66667%; }

.suffix-8 {
  margin-right: 66.66667%; }

.grid-9 {
  width: 75%; }

.push-9 {
  left: 75%; }

.pull-9 {
  right: 75%; }

.prefix-9 {
  margin-left: 75%; }

.suffix-9 {
  margin-right: 75%; }

.grid-10 {
  width: 83.33333%; }

.push-10 {
  left: 83.33333%; }

.pull-10 {
  right: 83.33333%; }

.prefix-10 {
  margin-left: 83.33333%; }

.suffix-10 {
  margin-right: 83.33333%; }

.grid-11 {
  width: 91.66667%; }

.push-11 {
  left: 91.66667%; }

.pull-11 {
  right: 91.66667%; }

.prefix-11 {
  margin-left: 91.66667%; }

.suffix-11 {
  margin-right: 91.66667%; }

.grid-12 {
  width: 100%; }

.push-12 {
  left: 100%; }

.pull-12 {
  right: 100%; }

.prefix-12 {
  margin-left: 100%; }

.suffix-12 {
  margin-right: 100%; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear {
  clear: both; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

.no-gutter,
.no-margin {
  padding-left: 0;
  padding-right: 0; }

.no-gutter-left,
.no-margin-left {
  padding-left: 0; }

.no-gutter-right,
.no-margin-right {
  padding-right: 0; }

.no-gutter-top,
.no-margin-top {
  padding-top: 0; }

.no-gutter-bottom,
.no-margin-bottom {
  padding-bottom: 0; }

.gutter,
.margins {
  padding-left: 10px;
  padding-right: 10px; }

.gutter-left,
.margin-left {
  padding-left: 10px; }

.gutter-right,
.margin-right {
  padding-right: 10px; }

.gutter-top,
.margin-top {
  padding-top: 10px; }

.gutter-bottom,
.margin-bottom {
  padding-bottom: 10px; }

.auto-height {
  height: inherit; }

.centered {
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  clear: both !important; }

.parent {
  padding-left: 0;
  padding-right: 0; }

.vertical-align-middle {
  font-size: 0;
  clear: both; }
  .vertical-align-middle > * {
    display: inline-block;
    float: none !important;
    vertical-align: middle;
    font-size: 1rem; }

.vertical-align-top {
  font-size: 0;
  clear: both; }
  .vertical-align-top > * {
    display: inline-block;
    float: none !important;
    vertical-align: top;
    font-size: 1rem; }

.vertical-align-bottom {
  font-size: 0;
  clear: both; }
  .vertical-align-bottom > * {
    display: inline-block;
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem; }

/**
 * Visible, hide, etc...
 */
.hide {
  display: none; }

.not-visible {
  visibility: hidden; }

.show {
  display: block; }

.show-inline {
  display: inline-block; }

.visible {
  visibility: visible; }

/**
 * Clear each class :
 */
@media screen and (max-width: 400px) {
  .grid-mobile-0 {
    width: 0%; }

  .push-mobile-0 {
    left: 0%; }

  .pull-mobile-0 {
    right: 0%; }

  .prefix-mobile-0 {
    margin-left: 0%; }

  .suffix-mobile-0 {
    margin-right: 0%; }

  .grid-mobile-1 {
    width: 8.33333%; }

  .push-mobile-1 {
    left: 8.33333%; }

  .pull-mobile-1 {
    right: 8.33333%; }

  .prefix-mobile-1 {
    margin-left: 8.33333%; }

  .suffix-mobile-1 {
    margin-right: 8.33333%; }

  .grid-mobile-2 {
    width: 16.66667%; }

  .push-mobile-2 {
    left: 16.66667%; }

  .pull-mobile-2 {
    right: 16.66667%; }

  .prefix-mobile-2 {
    margin-left: 16.66667%; }

  .suffix-mobile-2 {
    margin-right: 16.66667%; }

  .grid-mobile-3 {
    width: 25%; }

  .push-mobile-3 {
    left: 25%; }

  .pull-mobile-3 {
    right: 25%; }

  .prefix-mobile-3 {
    margin-left: 25%; }

  .suffix-mobile-3 {
    margin-right: 25%; }

  .grid-mobile-4 {
    width: 33.33333%; }

  .push-mobile-4 {
    left: 33.33333%; }

  .pull-mobile-4 {
    right: 33.33333%; }

  .prefix-mobile-4 {
    margin-left: 33.33333%; }

  .suffix-mobile-4 {
    margin-right: 33.33333%; }

  .grid-mobile-5 {
    width: 41.66667%; }

  .push-mobile-5 {
    left: 41.66667%; }

  .pull-mobile-5 {
    right: 41.66667%; }

  .prefix-mobile-5 {
    margin-left: 41.66667%; }

  .suffix-mobile-5 {
    margin-right: 41.66667%; }

  .grid-mobile-6 {
    width: 50%; }

  .push-mobile-6 {
    left: 50%; }

  .pull-mobile-6 {
    right: 50%; }

  .prefix-mobile-6 {
    margin-left: 50%; }

  .suffix-mobile-6 {
    margin-right: 50%; }

  .grid-mobile-7 {
    width: 58.33333%; }

  .push-mobile-7 {
    left: 58.33333%; }

  .pull-mobile-7 {
    right: 58.33333%; }

  .prefix-mobile-7 {
    margin-left: 58.33333%; }

  .suffix-mobile-7 {
    margin-right: 58.33333%; }

  .grid-mobile-8 {
    width: 66.66667%; }

  .push-mobile-8 {
    left: 66.66667%; }

  .pull-mobile-8 {
    right: 66.66667%; }

  .prefix-mobile-8 {
    margin-left: 66.66667%; }

  .suffix-mobile-8 {
    margin-right: 66.66667%; }

  .grid-mobile-9 {
    width: 75%; }

  .push-mobile-9 {
    left: 75%; }

  .pull-mobile-9 {
    right: 75%; }

  .prefix-mobile-9 {
    margin-left: 75%; }

  .suffix-mobile-9 {
    margin-right: 75%; }

  .grid-mobile-10 {
    width: 83.33333%; }

  .push-mobile-10 {
    left: 83.33333%; }

  .pull-mobile-10 {
    right: 83.33333%; }

  .prefix-mobile-10 {
    margin-left: 83.33333%; }

  .suffix-mobile-10 {
    margin-right: 83.33333%; }

  .grid-mobile-11 {
    width: 91.66667%; }

  .push-mobile-11 {
    left: 91.66667%; }

  .pull-mobile-11 {
    right: 91.66667%; }

  .prefix-mobile-11 {
    margin-left: 91.66667%; }

  .suffix-mobile-11 {
    margin-right: 91.66667%; }

  .grid-mobile-12 {
    width: 100%; }

  .push-mobile-12 {
    left: 100%; }

  .pull-mobile-12 {
    right: 100%; }

  .prefix-mobile-12 {
    margin-left: 100%; }

  .suffix-mobile-12 {
    margin-right: 100%; }

  .float-mobile-left {
    float: left; }

  .float-mobile-right {
    float: right; }

  .clear-mobile {
    clear: both; }

  .clear-mobile-left {
    clear: left; }

  .clear-mobile-right {
    clear: right; }

  .no-gutter-mobile,
  .no-margin-mobile {
    padding-left: 0;
    padding-right: 0; }

  .no-gutter-mobile-left,
  .no-margin-mobile-left {
    padding-left: 0; }

  .no-gutter-mobile-right,
  .no-margin-mobile-right {
    padding-right: 0; }

  .no-gutter-mobile-top,
  .no-margin-mobile-top {
    padding-top: 0; }

  .no-gutter-mobile-bottom,
  .no-margin-mobile-bottom {
    padding-bottom: 0; }

  .gutter-mobile,
  .margins-mobile {
    padding-left: 10px;
    padding-right: 10px; }

  .gutter-mobile-left,
  .margin-mobile-left {
    padding-left: 10px; }

  .gutter-mobile-right,
  .margin-mobile-right {
    padding-right: 10px; }

  .gutter-mobile-top,
  .margin-mobile-top {
    padding-top: 10px; }

  .gutter-mobile-bottom,
  .margin-mobile-bottom {
    padding-bottom: 10px; }

  .auto-height-mobile {
    height: inherit; }

  .centered-mobile {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important; }

  .parent-mobile {
    padding-left: 0;
    padding-right: 0; }

  .vertical-align-mobile-middle {
    font-size: 0;
    clear: both; }
    .vertical-align-mobile-middle > * {
      display: inline-block;
      float: none !important;
      vertical-align: middle;
      font-size: 1rem; }

  .vertical-align-mobile-top {
    font-size: 0;
    clear: both; }
    .vertical-align-mobile-top > * {
      display: inline-block;
      float: none !important;
      vertical-align: top;
      font-size: 1rem; }

  .vertical-align-mobile-bottom {
    font-size: 0;
    clear: both; }
    .vertical-align-mobile-bottom > * {
      display: inline-block;
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }

  /**
   * Visible, hide, etc...
   */
  .hide-mobile {
    display: none; }

  .not-visible-mobile {
    visibility: hidden; }

  .show-mobile {
    display: block; }

  .show-inline-mobile {
    display: inline-block; }

  .visible-mobile {
    visibility: visible; }

  /**
   * Clear each class :
   */ }
@media screen and (min-width: 401px) and (max-width: 767px) {
  .grid-tablet-0 {
    width: 0%; }

  .push-tablet-0 {
    left: 0%; }

  .pull-tablet-0 {
    right: 0%; }

  .prefix-tablet-0 {
    margin-left: 0%; }

  .suffix-tablet-0 {
    margin-right: 0%; }

  .grid-tablet-1 {
    width: 8.33333%; }

  .push-tablet-1 {
    left: 8.33333%; }

  .pull-tablet-1 {
    right: 8.33333%; }

  .prefix-tablet-1 {
    margin-left: 8.33333%; }

  .suffix-tablet-1 {
    margin-right: 8.33333%; }

  .grid-tablet-2 {
    width: 16.66667%; }

  .push-tablet-2 {
    left: 16.66667%; }

  .pull-tablet-2 {
    right: 16.66667%; }

  .prefix-tablet-2 {
    margin-left: 16.66667%; }

  .suffix-tablet-2 {
    margin-right: 16.66667%; }

  .grid-tablet-3 {
    width: 25%; }

  .push-tablet-3 {
    left: 25%; }

  .pull-tablet-3 {
    right: 25%; }

  .prefix-tablet-3 {
    margin-left: 25%; }

  .suffix-tablet-3 {
    margin-right: 25%; }

  .grid-tablet-4 {
    width: 33.33333%; }

  .push-tablet-4 {
    left: 33.33333%; }

  .pull-tablet-4 {
    right: 33.33333%; }

  .prefix-tablet-4 {
    margin-left: 33.33333%; }

  .suffix-tablet-4 {
    margin-right: 33.33333%; }

  .grid-tablet-5 {
    width: 41.66667%; }

  .push-tablet-5 {
    left: 41.66667%; }

  .pull-tablet-5 {
    right: 41.66667%; }

  .prefix-tablet-5 {
    margin-left: 41.66667%; }

  .suffix-tablet-5 {
    margin-right: 41.66667%; }

  .grid-tablet-6 {
    width: 50%; }

  .push-tablet-6 {
    left: 50%; }

  .pull-tablet-6 {
    right: 50%; }

  .prefix-tablet-6 {
    margin-left: 50%; }

  .suffix-tablet-6 {
    margin-right: 50%; }

  .grid-tablet-7 {
    width: 58.33333%; }

  .push-tablet-7 {
    left: 58.33333%; }

  .pull-tablet-7 {
    right: 58.33333%; }

  .prefix-tablet-7 {
    margin-left: 58.33333%; }

  .suffix-tablet-7 {
    margin-right: 58.33333%; }

  .grid-tablet-8 {
    width: 66.66667%; }

  .push-tablet-8 {
    left: 66.66667%; }

  .pull-tablet-8 {
    right: 66.66667%; }

  .prefix-tablet-8 {
    margin-left: 66.66667%; }

  .suffix-tablet-8 {
    margin-right: 66.66667%; }

  .grid-tablet-9 {
    width: 75%; }

  .push-tablet-9 {
    left: 75%; }

  .pull-tablet-9 {
    right: 75%; }

  .prefix-tablet-9 {
    margin-left: 75%; }

  .suffix-tablet-9 {
    margin-right: 75%; }

  .grid-tablet-10 {
    width: 83.33333%; }

  .push-tablet-10 {
    left: 83.33333%; }

  .pull-tablet-10 {
    right: 83.33333%; }

  .prefix-tablet-10 {
    margin-left: 83.33333%; }

  .suffix-tablet-10 {
    margin-right: 83.33333%; }

  .grid-tablet-11 {
    width: 91.66667%; }

  .push-tablet-11 {
    left: 91.66667%; }

  .pull-tablet-11 {
    right: 91.66667%; }

  .prefix-tablet-11 {
    margin-left: 91.66667%; }

  .suffix-tablet-11 {
    margin-right: 91.66667%; }

  .grid-tablet-12 {
    width: 100%; }

  .push-tablet-12 {
    left: 100%; }

  .pull-tablet-12 {
    right: 100%; }

  .prefix-tablet-12 {
    margin-left: 100%; }

  .suffix-tablet-12 {
    margin-right: 100%; }

  .float-tablet-left {
    float: left; }

  .float-tablet-right {
    float: right; }

  .clear-tablet {
    clear: both; }

  .clear-tablet-left {
    clear: left; }

  .clear-tablet-right {
    clear: right; }

  .no-gutter-tablet,
  .no-margin-tablet {
    padding-left: 0;
    padding-right: 0; }

  .no-gutter-tablet-left,
  .no-margin-tablet-left {
    padding-left: 0; }

  .no-gutter-tablet-right,
  .no-margin-tablet-right {
    padding-right: 0; }

  .no-gutter-tablet-top,
  .no-margin-tablet-top {
    padding-top: 0; }

  .no-gutter-tablet-bottom,
  .no-margin-tablet-bottom {
    padding-bottom: 0; }

  .gutter-tablet,
  .margins-tablet {
    padding-left: 10px;
    padding-right: 10px; }

  .gutter-tablet-left,
  .margin-tablet-left {
    padding-left: 10px; }

  .gutter-tablet-right,
  .margin-tablet-right {
    padding-right: 10px; }

  .gutter-tablet-top,
  .margin-tablet-top {
    padding-top: 10px; }

  .gutter-tablet-bottom,
  .margin-tablet-bottom {
    padding-bottom: 10px; }

  .auto-height-tablet {
    height: inherit; }

  .centered-tablet {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important; }

  .parent-tablet {
    padding-left: 0;
    padding-right: 0; }

  .vertical-align-tablet-middle {
    font-size: 0;
    clear: both; }
    .vertical-align-tablet-middle > * {
      display: inline-block;
      float: none !important;
      vertical-align: middle;
      font-size: 1rem; }

  .vertical-align-tablet-top {
    font-size: 0;
    clear: both; }
    .vertical-align-tablet-top > * {
      display: inline-block;
      float: none !important;
      vertical-align: top;
      font-size: 1rem; }

  .vertical-align-tablet-bottom {
    font-size: 0;
    clear: both; }
    .vertical-align-tablet-bottom > * {
      display: inline-block;
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }

  /**
   * Visible, hide, etc...
   */
  .hide-tablet {
    display: none; }

  .not-visible-tablet {
    visibility: hidden; }

  .show-tablet {
    display: block; }

  .show-inline-tablet {
    display: inline-block; }

  .visible-tablet {
    visibility: visible; }

  /**
   * Clear each class :
   */ }
ul.unstyled {
  list-style: none;
  padding-left: 0em; }
  ul.unstyled ul {
    list-style: disc outside; }

a {
  color: #334d5c;
  text-decoration: none; }
  a:hover {
    color: #18242b; }

.text-right {
  text-align: right; }

.navigation {
  background-color: #333333;
  border-bottom: none;
  height: 60px;
  z-index: 999; }
  .navigation .logo-container {
    height: 60px; }
    .navigation .logo-container:before {
      /* create a full-height inline block pseudo=element */
      content: ' ';
      display: inline-block;
      vertical-align: middle;
      /* vertical alignment of the inline element */
      height: 100%; }
    .navigation .logo-container img.logo {
      max-width: 89%;
      max-height: 50px;
      display: inline-block;
      vertical-align: middle; }
  .navigation .nav {
    z-index: 9999999;
    height: 60px; }
  .navigation ul.navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;
    display: inline-block;
    margin: 0;
    padding: 0; }
  .navigation ul li.nav-link {
    background: #333333;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999;
    background: transparent;
    display: inline;
    line-height: 60px;
    text-decoration: none;
    width: auto; }
    .navigation ul li.nav-link a {
      color: white;
      display: inline-block;
      font-weight: 400;
      padding-right: 1em; }
      .navigation ul li.nav-link a:hover {
        color: white; }
  .navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  .navigation li.more.nav-link {
    padding-right: 0;
    padding-right: 1em; }
    .navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 0; }
    .navigation li.more.nav-link a {
      margin-right: 1em; }
    .navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    .navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      content: "▾";
      color: rgba(255, 255, 255, 0.7); }
  .navigation li.more {
    overflow: visible;
    padding-right: 0;
    padding-right: .8em;
    position: relative; }
    .navigation li.more a {
      padding-right: .8em; }
    .navigation li.more > a {
      padding-right: 1.6em;
      position: relative;
      margin-right: 1em; }
      .navigation li.more > a:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    .navigation li.more:hover > .submenu {
      display: block; }
  .navigation ul.submenu {
    display: none;
    padding-left: 0;
    left: -1em;
    position: absolute;
    top: 1.5em; }
    .navigation ul.submenu .submenu {
      left: 11.8em;
      top: 0; }
    .navigation ul.submenu li {
      display: block;
      padding-right: 0;
      line-height: 46.15385px; }
      .navigation ul.submenu li:first-child > a {
        border-top-left-radius: 0;
        border-top-right-radius: 0; }
      .navigation ul.submenu li:last-child > a {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding-bottom: 0; }
      .navigation ul.submenu li a {
        background-color: #2b2b2b;
        display: inline-block;
        text-align: right;
        width: 100%;
        background-color: #333333;
        padding-left: 1em;
        text-align: left; }
  .navigation .navigation-search {
    padding: 17px 0 0;
    position: relative; }
    .navigation .navigation-search input[type=search] {
      padding: .6em .55em;
      padding-right: 3.5em;
      width: calc(100% - 4.5em);
      font-size: .9em;
      margin: 0; }
    .navigation .navigation-search button {
      padding: 7px 12px;
      position: absolute;
      top: .99em;
      right: 1em; }
  .navigation ul li.nav-link2 {
    position: relative;
    padding-right: 2em;
    text-align: left;
    line-height: 60px;
    z-index: 9999;
    float: left;
    list-style: none; }
    .navigation ul li.nav-link2 div.li-content {
      display: inline-block;
      line-height: normal;
      vertical-align: middle; }
      .navigation ul li.nav-link2 div.li-content a.more:after {
        content: "▾";
        color: rgba(255, 255, 255, 0.7);
        padding-left: 0.4em;
        font-size: 1.2em; }
    .navigation ul li.nav-link2 ul {
      display: none;
      position: absolute;
      line-height: normal;
      list-style: none;
      background-color: #333;
      padding-right: 1.5em;
      padding-left: 1.5em;
      width: 100%; }
    .navigation ul li.nav-link2 ul li {
      padding-top: 0.7em;
      padding-bottom: 0.7em; }
      .navigation ul li.nav-link2 ul li:first-child {
        padding-top: 0; }
      .navigation ul li.nav-link2 ul li:last-child {
        padding-bottom: 0; }
    .navigation ul li.nav-link2:hover ul {
      display: block; }
    .navigation ul li.nav-link2 a {
      width: 100%;
      color: white;
      font-weight: 400; }
      .navigation ul li.nav-link2 a:hover {
        color: white; }

.navigation {
  background-color: #334d5c; }
  .navigation a.more:after {
    color: #333333; }
  .navigation li.nav-link2 a {
    margin-bottom: 2px; }
  .navigation li.nav-link2.lang-selection {
    color: #b2b2b2;
    font-size: 0.7em; }
    .navigation li.nav-link2.lang-selection a.more:after {
      color: #b2b2b2; }
  .navigation li.nav-link2 ul {
    top: 58px; }
    .navigation li.nav-link2 ul a {
      padding-left: 0; }
  .navigation div.nav, .navigation div.navigation-search {
    float: right; }
    .navigation div.nav input[type=search], .navigation div.navigation-search input[type=search] {
      padding: 0.2em;
      float: left;
      border: none; }
    .navigation div.nav button, .navigation div.navigation-search button {
      color: #b2b2b2;
      background-color: #334d5c;
      padding: 0 0 0 7px;
      top: inherit;
      font-size: 1.2em;
      position: unset;
      float: left; }

html, body {
  height: 100%; }

.content {
  min-height: 85%; }

.footer {
  background: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%; }
  .footer .footer-logo {
    text-align: center;
    margin-bottom: 2em; }
    .footer .footer-logo img {
      height: 3em; }
  .footer .footer-links {
    clear: both;
    margin-bottom: 1.5em;
    float: left;
    direction: ltr;
    padding-left: 10px;
    padding-right: 10px;
    width: 66.66667%;
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important; }
  .footer ul {
    margin-bottom: 3em;
    float: left;
    direction: ltr;
    padding-left: 10px;
    padding-right: 10px;
    width: 33.33333%;
    list-style-type: none; }
  .footer li {
    text-align: center; }
  .footer li a {
    color: rgba(255, 255, 255, 0.4); }
    .footer li a:hover {
      color: white; }
  .footer li h3 {
    color: white;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em; }
  .footer hr {
    clear: both;
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin: 0 auto 1.5em;
    width: 12em; }
  .footer p {
    clear: both;
    color: white;
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

.success {
  background: rgba(67, 178, 157, 0.2);
  color: #43b29d;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }

.error {
  background: rgba(223, 73, 73, 0.2);
  color: #df4949;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }

.alert {
  background: rgba(226, 121, 61, 0.2);
  color: #e2793d;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }

.notice {
  background: rgba(51, 77, 92, 0.2);
  color: #334d5c;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }

fieldset {
  border: none;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  /*  font-family: $form-font-family;
  font-size: $form-font-size; */ }

label {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*";
    color: #df4949;
    font-weight: 900; }
  label abbr {
    display: none; }

.inline-choice {
  white-space: nowrap; }
  .inline-choice label {
    white-space: normal;
    display: inline;
    line-height: 2em;
    margin-right: 1em;
    font-weight: normal; }

textarea,
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #000;
  box-shadow: none;
  /*font-family: $form-font-family;
  font-size: $form-font-size; */
  margin-bottom: 0.375em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #000; }
  textarea:focus,
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #000;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(42, 63, 76, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.375em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  width: 100%; }

form p.tip {
  font-size: .875em;
  position: relative;
  text-align: center;
  margin-top: -.3em; }
form p.label {
  padding: 0;
  white-space: normal; }
form fieldset {
  border: none;
  margin-bottom: 1.5em;
  padding: 0;
  margin: 0; }
  form fieldset legend {
    font-size: 1.438em;
    font-weight: 700;
    width: 100%;
    border-bottom: 3px solid #ddd;
    margin-bottom: 1em; }
    form fieldset legend + * {
      -webkit-margin-top-collapse: separate; }
    form fieldset legend h2 {
      margin-bottom: 0; }
form li label {
  display: inline-block;
  font-weight: normal; }

textarea {
  height: 12em; }

.sc-button {
  color: #000;
  background: #d9d9d9;
  border: medium none;
  box-shadow: none;
  padding: 8px 12px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  line-height: normal;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
  .sc-button:hover, .sc-button:active {
    background: #cccccc;
    color: #000;
    text-decoration: none; }
  .sc-button:focus {
    background: #cccccc; }
  .sc-button[disabled] {
    background: rgba(217, 217, 217, 0.6);
    color: #bfbfbf; }
    .sc-button[disabled]:hover {
      box-shadow: none; }
  .sc-button.blue {
    color: #fff;
    background: #334d5c;
    border: medium none;
    box-shadow: none;
    padding: 8px 12px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    line-height: normal;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .sc-button.blue:hover, .sc-button.blue:active {
      background: #2a3f4c;
      color: #fff;
      text-decoration: none; }
    .sc-button.blue:focus {
      background: #2a3f4c; }
    .sc-button.blue[disabled] {
      background: rgba(51, 77, 92, 0.6);
      color: #21323b; }
      .sc-button.blue[disabled]:hover {
        box-shadow: none; }
  .sc-button.green {
    color: #fff;
    background: #43b29d;
    border: medium none;
    box-shadow: none;
    padding: 8px 12px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    line-height: normal;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .sc-button.green:hover, .sc-button.green:active {
      background: #3c9f8d;
      color: #fff;
      text-decoration: none; }
    .sc-button.green:focus {
      background: #3c9f8d; }
    .sc-button.green[disabled] {
      background: rgba(67, 178, 157, 0.6);
      color: #358d7c; }
      .sc-button.green[disabled]:hover {
        box-shadow: none; }
  .sc-button.orange {
    color: #fff;
    background: #e2793d;
    border: medium none;
    box-shadow: none;
    padding: 8px 12px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    line-height: normal;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .sc-button.orange:hover, .sc-button.orange:active {
      background: #df6a27;
      color: #fff;
      text-decoration: none; }
    .sc-button.orange:focus {
      background: #df6a27; }
    .sc-button.orange[disabled] {
      background: rgba(226, 121, 61, 0.6);
      color: #cd5e1f; }
      .sc-button.orange[disabled]:hover {
        box-shadow: none; }
  .sc-button.red {
    color: #fff;
    background: #df4949;
    border: medium none;
    box-shadow: none;
    padding: 8px 12px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    line-height: normal;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .sc-button.red:hover, .sc-button.red:active {
      background: #db3333;
      color: #fff;
      text-decoration: none; }
    .sc-button.red:focus {
      background: #db3333; }
    .sc-button.red[disabled] {
      background: rgba(223, 73, 73, 0.6);
      color: #d02525; }
      .sc-button.red[disabled]:hover {
        box-shadow: none; }
  .sc-button.black {
    color: #fff;
    background: #1a1a1a;
    border: medium none;
    box-shadow: none;
    padding: 8px 12px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    line-height: normal;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .sc-button.black:hover, .sc-button.black:active {
      background: #0d0d0d;
      color: #fff;
      text-decoration: none; }
    .sc-button.black:focus {
      background: #0d0d0d; }
    .sc-button.black[disabled] {
      background: rgba(26, 26, 26, 0.6);
      color: black; }
      .sc-button.black[disabled]:hover {
        box-shadow: none; }
  .sc-button.white {
    color: #555;
    background: #fff;
    border: medium none;
    box-shadow: none;
    padding: 8px 12px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    line-height: normal;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .sc-button.white:hover, .sc-button.white:active {
      background: #f2f2f2;
      color: #555;
      text-decoration: none; }
    .sc-button.white:focus {
      background: #f2f2f2; }
    .sc-button.white[disabled] {
      background: rgba(255, 255, 255, 0.6);
      color: #e6e6e6; }
      .sc-button.white[disabled]:hover {
        box-shadow: none; }

.sc-button.bt-submit, .sc-button.bt-create {
  color: #fff;
  background: #43b29d;
  border: medium none;
  box-shadow: none;
  padding: 8px 12px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  line-height: normal;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
  .sc-button.bt-submit:hover, .sc-button.bt-submit:active, .sc-button.bt-create:hover, .sc-button.bt-create:active {
    background: #3c9f8d;
    color: #fff;
    text-decoration: none; }
  .sc-button.bt-submit:focus, .sc-button.bt-create:focus {
    background: #3c9f8d; }
  .sc-button.bt-submit[disabled], .sc-button.bt-create[disabled] {
    background: rgba(67, 178, 157, 0.6);
    color: #358d7c; }
    .sc-button.bt-submit[disabled]:hover, .sc-button.bt-create[disabled]:hover {
      box-shadow: none; }
.sc-button.bt-reset, .sc-button.bt-delete {
  color: #fff;
  background: #df4949;
  border: medium none;
  box-shadow: none;
  padding: 8px 12px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  line-height: normal;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
  .sc-button.bt-reset:hover, .sc-button.bt-reset:active, .sc-button.bt-delete:hover, .sc-button.bt-delete:active {
    background: #db3333;
    color: #fff;
    text-decoration: none; }
  .sc-button.bt-reset:focus, .sc-button.bt-delete:focus {
    background: #db3333; }
  .sc-button.bt-reset[disabled], .sc-button.bt-delete[disabled] {
    background: rgba(223, 73, 73, 0.6);
    color: #d02525; }
    .sc-button.bt-reset[disabled]:hover, .sc-button.bt-delete[disabled]:hover {
      box-shadow: none; }
.sc-button.bt-action, .sc-button.bt-edit, .sc-button.bt-update {
  color: #fff;
  background: #e2793d;
  border: medium none;
  box-shadow: none;
  padding: 8px 12px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  line-height: normal;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
  .sc-button.bt-action:hover, .sc-button.bt-action:active, .sc-button.bt-edit:hover, .sc-button.bt-edit:active, .sc-button.bt-update:hover, .sc-button.bt-update:active {
    background: #df6a27;
    color: #fff;
    text-decoration: none; }
  .sc-button.bt-action:focus, .sc-button.bt-edit:focus, .sc-button.bt-update:focus {
    background: #df6a27; }
  .sc-button.bt-action[disabled], .sc-button.bt-edit[disabled], .sc-button.bt-update[disabled] {
    background: rgba(226, 121, 61, 0.6);
    color: #cd5e1f; }
    .sc-button.bt-action[disabled]:hover, .sc-button.bt-edit[disabled]:hover, .sc-button.bt-update[disabled]:hover {
      box-shadow: none; }

/* Tabs */
.tab-nav {
  margin: 0.5em 0;
  padding: 0; }
  .tab-nav > li {
    font-family: "Open Sans";
    display: inline-block;
    width: 100%;
    cursor: default;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0.2em; }
    .tab-nav > li.title {
      padding: 0.5em 0.5em 0.5em 1em;
      font-weight: 900;
      background-color: #334d5c;
      color: #fff; }
    .tab-nav > li > a {
      display: block;
      width: auto;
      padding: 0.3em 0.3em 0.3em 0.6em;
      margin: 0;
      color: #334d5c;
      cursor: pointer;
      border: none;
      background-color: #eec84a;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
      .tab-nav > li > a:hover, .tab-nav > li > a:active {
        border: none;
        color: #334d5c;
        text-decoration: none; }

table {
  width: 100%; }
  table thead {
    background-color: unset; }
    table thead tr th {
      border: unset;
      text-align: center;
      padding: 0.3em;
      color: #334d5c; }
  table tbody tr td {
    border: 1px solid #000;
    text-align: left;
    padding: 0.3em;
    color: unset; }
  table tbody tr:nth-of-type(even) {
    background-color: #e6e6e6; }
  table tbody tr:nth-of-type(odd) {
    background-color: #fff; }

/*
Chill is a software for social workers
Copyright (C) 2015 Champs Libres <info@champs-libres.coop>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
div.timeline-item {
  padding: 0.5em;
  overflow: auto;
  margin-bottom: 1.5em; }
  div.timeline-item.odd {
    background-color: #e6e6e6; }
    div.timeline-item.odd .summary {
      background-color: #fff; }
  div.timeline-item.even {
    background-color: #fff; }
    div.timeline-item.even .summary {
      background-color: #e6e6e6; }
  div.timeline-item .summary {
    margin: 1em;
    overflow: auto; }
  div.timeline-item h3 {
    margin-top: 0em;
    font-size: 1em; }
    div.timeline-item h3.single-line {
      margin-bottom: 0em; }

span.entity.entity-activity.activity-reason {
  font-variant: small-caps;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 88%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  color: white;
  background-color: #dd506d; }

.activity {
  color: #43b29d; }

.report {
  color: #df4949; }

.person {
  color: #334d5c; }

.pagination {
  display: flex;
  justify-content: center;
  text-align: center; }
  .pagination .link {
    background-color: white;
    display: inline-block; }
  .pagination .link:nth-of-type(1n+2) {
    border-left: 1px solid #b2b2b2; }
  .pagination .link.current {
    font-weight: bold;
    color: white;
    background-color: #334d5c;
    padding: 0.4em 0.8em; }
  .pagination .link a {
    display: block;
    padding: 0.4em 0.8em; }
  .pagination .link a:hover {
    color: white;
    font-weight: bold;
    background-color: #43b29d; }

html, body {
  min-height: 100%;
  font-family: 'Open Sans'; }

header {
  position: relative; }

#content_conainter {
  position: relative;
  min-height: calc(100% - 100px); }

#content_conainter:before {
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.1;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  background-image: url("/bundles/chillmain/img/background/desert.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/* CUSTOM FIELDS -> */
.cf-title {
  font-size: 2em; }

.cf-subtitle {
  font-size: 1.5em; }

/* <- CUSTOM FIELDS */
ul.submenu.width-11-em {
  min-width: 11em; }

ul.submenu.width-15-em {
  min-width: 15em; }

.content {
  padding-top: 1em;
  padding-bottom: 1em; }

.select2 {
  width: 100%; }

ul.custom_fields.choice li {
  list-style: none; }

.sticky-form-buttons {
  margin-top: 1em;
  background-color: #e2793d;
  position: sticky;
  bottom: 0.5em;
  text-align: center;
  padding: 0.5em;
  border-radius: 0; }

.sticky-form-buttons .margin-5 {
  margin-left: 5%;
  margin-right: 5%; }

.sticky-form-buttons .margin-10 {
  margin-left: 10%;
  margin-right: 10%; }

.errors {
  color: #df4949; }

.blop label {
  line-height: 1.5em; }

.footer p {
  font-family: 'Open Sans';
  font-weight: 300; }
.footer a {
  color: white;
  text-decoration: underline; }

.time_compound input[type=text], .time_compound select {
  width: 4em;
  display: inline-block;
  text-align: center; }
.time_compound .separator {
  margin-left: 0.2em;
  margin-right: 0.2em; }

.open_sansbold {
  font-family: 'Open Sans';
  font-weight: bold; }

ul.record_actions {
  padding-left: 0; }

ul.record_actions li {
  display: inline-block; }

dd {
  margin-left: 0; }

dt {
  font-family: 'Open Sans';
  font-weight: 600; }

/* INPUT CLASS -> */
div.input_with_post_text {
  display: flex;
  align-items: center; }

div.input_with_post_text span.post_text {
  flex: 1;
  margin-left: 0.5em; }

div.input_with_post_text input {
  width: 70%;
  display: inline-block;
  flex: 2; }

/* <- INPUT CLASS */
dl.chill_report_view_data dt,
dl.chill_view_data dt {
  margin-top: 1.5em;
  color: #334d5c; }
dl.chill_report_view_data dd,
dl.chill_view_data dd {
  padding-left: 1.5em;
  margin-top: 0.2em; }
  dl.chill_report_view_data dd ul,
  dl.chill_view_data dd ul {
    padding-left: 0; }

.flash_message {
  margin-top: 2.5em; }

blockquote.chill-user-quote {
  border-left: 10px solid #eec84a;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
  background-color: #e6e6e6; }
  blockquote.chill-user-quote p {
    display: inline; }

.chill-no-data-statement {
  font-style: italic; }

/*# sourceMappingURL=scratch.css.map */
