// YOUR CUSTOM SCSS
@import 'custom/timeline';
@import 'custom/mixins/entity';
@import 'custom/activity';
@import 'custom/report';
@import 'custom/person';
@import 'custom/pagination';

html,body { 
   min-height:100%;
   font-family: 'Open Sans';
}

header {
   position: relative;
}

#content_conainter {
   position: relative;
   min-height: calc(100% - 100px);
}

#content_conainter:before {
   bottom: 0;
   content: "";
   left: 0;
   opacity: 0.1;
   position: absolute;
   right: 0;
   top: 0;
   z-index: -1;
   background-image: url("/bundles/chillmain/img/background/desert.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

/* CUSTOM FIELDS -> */
.cf-title {
   font-size: 2em;
}

.cf-subtitle {
   font-size: 1.5em;
}
/* <- CUSTOM FIELDS */

@each $len in 11, 15 {
   ul.submenu.width-#{$len}-em {
      min-width: #{$len}em;
   }
}

.content {
   padding-top: 1em;
   padding-bottom: 1em;
}

.select2 {
   width: 100%;
}

ul.custom_fields.choice li {
   list-style:none;
}

// Sticky form buttons
.sticky-form-buttons {
   margin-top:1em;
   background-color:$orange;//$grey-5;
   position:sticky;
   bottom:0.5em;
   text-align:center;
   padding:0.5em;
   border-radius: $base-border-radius;
}

.sticky-form-buttons .margin-5 {
   margin-left: 5%;
   margin-right: 5%;
}

.sticky-form-buttons .margin-10 {
   margin-left: 10%;
   margin-right: 10%;
}

.errors {
   color: $red;
}

.blop label {
   line-height: 1 + ($base-spacing / 3);
}

.footer {
   p {
      font-family: 'Open Sans';
      font-weight: 300;
   }
   
   a { 
        color: white; 
        text-decoration: underline;
      }
}

// inline time input
.time_compound {
    input[type=text], select {
        width: 4em;
        display: inline-block;
        text-align: center;
    }
    
    .separator {
        margin-left: 0.2em;
        margin-right: 0.2em;
    }
}

.open_sansbold {
  font-family: 'Open Sans';
  font-weight: bold;
      
}

// Symfony records actions
ul.record_actions {
  padding-left: 0;
}
ul.record_actions li {
  display: inline-block;
}

dd {
  margin-left: 0;
}

dt {
  font-family: 'Open Sans';
  font-weight: 600;
}


/* INPUT CLASS -> */
div.input_with_post_text {
    display: flex;
    align-items: center;
}

div.input_with_post_text span.post_text {
    flex: 1;
    margin-left: 0.5em;
}
div.input_with_post_text input {
    width: 70%;
    display: inline-block;
    flex: 2;
}
/* <- INPUT CLASS */

dl.chill_report_view_data,
dl.chill_view_data {
    
    dt {
        margin-top: 1.5em;
        color: $chill-blue;
    }
    
    dd {
        padding-left: 1.5em;
        margin-top: 0.2em;
        
        ul {
            padding-left: 0;
        }
    }
    
}

.flash_message {
    margin-top: 2.5em;
}

blockquote.chill-user-quote {
    border-left: 10px solid $chill-yellow;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    background-color: $chill-llight-gray;
    
    
    p { display: inline; }
    
}

.chill-no-data-statement {
    font-style: italic;
    
}
